# Node modules
node_modules/

# Environment variables
.env

# # Log files
# *.log

# # Build output
# dist/
# build/

# # Database files
# *.sqlite

# # OS files
# .DS_Store
# Thumbs.db

# # Editor files
# .vscode/
# .idea/